{
  "openapi": "3.0.3",
  "info": {
    "title": "QuakeWise External API",
    "version": "1.0.0",
    "description": "Comprehensive earthquake safety assessment API combining AI analysis, geospatial data, and structural engineering calculations. Provides building vulnerability assessments for seismic risk evaluation.",
    "contact": {
      "name": "QuakeWise API Support",
      "email": "api@quakewise.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://quakewise.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://quakewise.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "PlatformToken": [],
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "JWT token issuance and verification"
    },
    {
      "name": "Assessment",
      "description": "Building safety assessment services"
    },
    {
      "name": "AI Services",
      "description": "AI-powered image and plan analysis"
    },
    {
      "name": "Utilities",
      "description": "Helper services and utilities"
    },
    {
      "name": "System",
      "description": "System health and parameters"
    },
    {
      "name": "Analytics",
      "description": "Usage statistics and analytics"
    }
  ],
  "paths": {
    "/auth/issue-token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Issue JWT token",
        "description": "Issues a JWT token for end-user authentication. Requires platform authentication.",
        "operationId": "issueToken",
        "security": [{"PlatformToken": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueTokenRequest"
              },
              "example": {
                "userId": "user_12345",
                "appId": "my-app",
                "tier": "pro",
                "metadata": {"source": "mobile-app"},
                "expiresIn": "7d"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"},
          "400": {"$ref": "#/components/responses/ValidationError"}
        }
      }
    },
    "/auth/verify-token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify JWT token",
        "description": "Verifies a JWT token and returns its payload. Requires platform authentication.",
        "operationId": "verifyToken",
        "security": [{"PlatformToken": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyTokenResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"}
        }
      }
    },
    "/assessment/complete": {
      "post": {
        "tags": ["Assessment"],
        "summary": "Complete building assessment",
        "description": "Performs comprehensive earthquake safety assessment including AI analysis, safety calculations, and risk evaluation.",
        "operationId": "completeAssessment",
        "security": [{"PlatformToken": [], "BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentRequest"
              },
              "example": {
                "location": {
                  "latitude": 41.0082,
                  "longitude": 28.9784
                },
                "building": {
                  "structuralSystem": "C2",
                  "numberOfStories": 5,
                  "yearOfConstruction": 2010,
                  "designRegulation": "2007-2018",
                  "typeOfSoil": "ZC",
                  "typeOfEarthquake": "Zone 4"
                },
                "options": {
                  "includeAiAnalysis": true,
                  "includeLocationIntelligence": true,
                  "includeWeatherRisk": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assessment completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"},
          "500": {"$ref": "#/components/responses/ServiceError"}
        }
      }
    },
    "/status": {
      "get": {
        "tags": ["System"],
        "summary": "API health status",
        "description": "Returns API health status, version, and service availability. Public endpoint.",
        "operationId": "getStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parameters": {
      "get": {
        "tags": ["System"],
        "summary": "Get valid parameters",
        "description": "Returns all valid parameter values for building assessments. Public endpoint.",
        "operationId": "getParameters",
        "security": [],
        "responses": {
          "200": {
            "description": "Parameters retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParametersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usage/{appId}": {
      "get": {
        "tags": ["Analytics"],
        "summary": "Get app usage statistics",
        "description": "Returns usage statistics for a specific app. Requires platform authentication.",
        "operationId": "getUsage",
        "security": [{"PlatformToken": []}],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"},
            "description": "Application ID"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {"type": "integer", "default": 7},
            "description": "Number of days to retrieve (1-90)"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      }
    },
    "/ai/analyze-image": {
      "post": {
        "tags": ["AI Services"],
        "summary": "Analyze building images with AI",
        "description": "Analyzes building images using Claude AI to extract structural features, dimensions, and risk factors. Supports multiple image types including photos, floor plans, and satellite imagery.",
        "operationId": "analyzeImage",
        "security": [{"PlatformToken": [], "BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["images", "analysisType"],
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {"type": "string", "format": "binary"},
                    "description": "Image files (max 10MB each, up to 10 images)"
                  },
                  "analysisType": {
                    "type": "string",
                    "enum": ["building", "floorPlan", "architecturalPlan", "satellite"],
                    "description": "Type of analysis to perform"
                  },
                  "additionalContext": {
                    "type": "string",
                    "description": "JSON string with location, seismic data, and weather context"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "analysis": {
                      "type": "object",
                      "properties": {
                        "confidence": {"type": "string", "enum": ["high", "medium", "low"]},
                        "detectedFeatures": {"type": "object"},
                        "dimensions": {"type": "object"},
                        "irregularities": {"type": "object"},
                        "riskFactors": {"type": "object"},
                        "recommendations": {"type": "array", "items": {"type": "string"}}
                      }
                    },
                    "imagesAnalyzed": {"type": "integer"}
                  }
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "400": {"$ref": "#/components/responses/ValidationError"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"}
        }
      }
    },
    "/ai/analyze-building-photos": {
      "post": {
        "tags": ["AI Services"],
        "summary": "Analyze exterior building photos",
        "description": "Analyzes exterior building photographs with optional plan cross-reference. Provides visual assessment, structural condition analysis, and seismic vulnerability evaluation.",
        "operationId": "analyzeBuildingPhotos",
        "security": [{"PlatformToken": [], "BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["images", "location"],
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "data": {"type": "string", "description": "Base64 encoded image"},
                        "type": {"type": "string", "description": "MIME type"}
                      }
                    }
                  },
                  "planAnalysis": {
                    "type": "object",
                    "description": "Optional floor plan analysis to cross-reference"
                  },
                  "location": {
                    "type": "object",
                    "required": ["city", "earthquakeZone"],
                    "properties": {
                      "city": {"type": "string"},
                      "earthquakeZone": {"type": "string"}
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photos analyzed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "analysis": {
                      "type": "object",
                      "properties": {
                        "visual": {"type": "object"},
                        "structural": {"type": "object"},
                        "construction": {"type": "object"},
                        "seismic": {"type": "object"},
                        "integration": {"type": "object"},
                        "combined": {"type": "object"},
                        "quality": {"type": "object"}
                      }
                    },
                    "metadata": {"type": "object"}
                  }
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"}
        }
      }
    },
    "/ai/analyze-building-plans": {
      "post": {
        "tags": ["AI Services"],
        "summary": "Analyze architectural plans",
        "description": "Analyzes architectural or structural plan documents to extract dimensions, structural system details, building specifications, and construction information.",
        "operationId": "analyzeBuildingPlans",
        "security": [{"PlatformToken": [], "BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["images", "location"],
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "data": {"type": "string", "description": "Base64 encoded plan image"},
                        "type": {"type": "string", "description": "MIME type"}
                      }
                    }
                  },
                  "location": {
                    "type": "object",
                    "required": ["city"],
                    "properties": {
                      "city": {"type": "string"}
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plans analyzed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "analysis": {
                      "type": "object",
                      "properties": {
                        "dimensions": {"type": "object"},
                        "structural": {"type": "object"},
                        "building": {"type": "object"},
                        "construction": {"type": "object"},
                        "quality": {"type": "object"},
                        "analysis": {"type": "object"}
                      }
                    },
                    "metadata": {"type": "object"}
                  }
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"}
        }
      }
    },
    "/utils/proxy-image": {
      "get": {
        "tags": ["Utilities"],
        "summary": "Proxy Google Maps images",
        "description": "CORS proxy for Google Maps images including Street View and satellite imagery. Caches images for improved performance.",
        "operationId": "proxyImage",
        "security": [{"PlatformToken": [], "BearerAuth": []}],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "description": "Encoded Google Maps image URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Image retrieved successfully",
            "content": {
              "image/jpeg": {"schema": {"type": "string", "format": "binary"}},
              "image/png": {"schema": {"type": "string", "format": "binary"}}
            }
          },
          "400": {"$ref": "#/components/responses/ValidationError"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "429": {"$ref": "#/components/responses/RateLimitExceeded"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PlatformToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Platform-Token",
        "description": "Static platform authentication token provided by QuakeWise"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token issued via /auth/issue-token endpoint"
      }
    },
    "schemas": {
      "IssueTokenRequest": {
        "type": "object",
        "required": ["userId", "appId"],
        "properties": {
          "userId": {"type": "string", "description": "User identifier from external app"},
          "appId": {"type": "string", "description": "Platform app identifier"},
          "tier": {"type": "string", "enum": ["free", "pro", "enterprise"], "default": "free"},
          "metadata": {"type": "object", "description": "Additional user metadata"},
          "expiresIn": {"type": "string", "pattern": "^\\d+[dhms]$", "default": "7d", "description": "Token expiry (e.g., 7d, 24h)"}
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "token": {"type": "string"},
              "expiresAt": {"type": "string", "format": "date-time"},
              "expiresIn": {"type": "integer", "description": "Expiry in seconds"}
            }
          }
        }
      },
      "VerifyTokenRequest": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": {"type": "string", "description": "JWT token to verify"}
        }
      },
      "VerifyTokenResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "valid": {"type": "boolean"},
              "payload": {
                "type": "object",
                "properties": {
                  "userId": {"type": "string"},
                  "appId": {"type": "string"},
                  "tier": {"type": "string"},
                  "metadata": {"type": "object"},
                  "issuedAt": {"type": "string", "format": "date-time"},
                  "expiresAt": {"type": "string", "format": "date-time"},
                  "tokenId": {"type": "string"}
                }
              },
              "error": {"type": "string"},
              "code": {"type": "string"}
            }
          }
        }
      },
      "AssessmentRequest": {
        "type": "object",
        "required": ["location", "building"],
        "properties": {
          "location": {
            "type": "object",
            "required": ["latitude", "longitude"],
            "properties": {
              "latitude": {"type": "number", "minimum": -90, "maximum": 90},
              "longitude": {"type": "number", "minimum": -180, "maximum": 180}
            }
          },
          "building": {
            "type": "object",
            "required": ["structuralSystem", "numberOfStories", "yearOfConstruction", "designRegulation"],
            "properties": {
              "structuralSystem": {"type": "string", "description": "Building type code (e.g., C1, S1, W1)"},
              "numberOfStories": {"type": "integer", "minimum": 1, "maximum": 200},
              "yearOfConstruction": {"type": "integer", "minimum": 1800},
              "designRegulation": {"type": "string", "enum": ["Before 1975", "1975-1998", "1998-2007", "2007-2018", "After 2018 (TBDY)"]},
              "typeOfSoil": {"type": "string", "enum": ["ZA", "ZB", "ZC", "ZD", "ZE"]},
              "typeOfEarthquake": {"type": "string", "enum": ["Zone 1", "Zone 2", "Zone 3", "Zone 4"]},
              "verticalIrregularityHigh": {"type": "boolean"},
              "verticalIrregularityModerate": {"type": "boolean"},
              "planIrregularity": {"type": "boolean"},
              "buildingLength": {"type": "number"},
              "buildingWidth": {"type": "number"},
              "storyHeight": {"type": "number"}
            }
          },
          "images": {
            "type": "object",
            "properties": {
              "buildingPhotos": {"type": "array", "items": {"type": "string", "format": "base64"}},
              "floorPlans": {"type": "array", "items": {"type": "string", "format": "base64"}},
              "satelliteImages": {"type": "array", "items": {"type": "string", "format": "base64"}}
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "includeAiAnalysis": {"type": "boolean", "default": true},
              "includeLocationIntelligence": {"type": "boolean", "default": true},
              "includeWeatherRisk": {"type": "boolean", "default": true},
              "includeStreetView": {"type": "boolean", "default": false}
            }
          }
        }
      },
      "AssessmentResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "assessmentId": {"type": "string"},
              "safetyScore": {
                "type": "object",
                "properties": {
                  "overall": {"type": "string"},
                  "rawScore": {"type": "string"},
                  "normalizedScore": {"type": "string"},
                  "interpretation": {"type": "string"},
                  "maxSafeRichter": {"type": "string"}
                }
              },
              "seismicData": {"type": "object"},
              "recommendations": {"type": "array", "items": {"type": "object"}},
              "aiAnalysis": {"type": "object"},
              "locationData": {"type": "object"},
              "weatherRisk": {"type": "object"}
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "processingTime": {"type": "integer"},
              "version": {"type": "string"},
              "timestamp": {"type": "string", "format": "date-time"}
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "status": {"type": "string", "enum": ["healthy", "unhealthy"]},
              "version": {"type": "string"},
              "uptime": {"type": "number"},
              "services": {"type": "object"}
            }
          }
        }
      },
      "ParametersResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "structuralSystems": {"type": "array"},
              "designRegulations": {"type": "array"},
              "soilTypes": {"type": "array"},
              "earthquakeZones": {"type": "array"}
            }
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "appId": {"type": "string"},
              "period": {"type": "object"},
              "summary": {"type": "object"},
              "dailyStats": {"type": "array"},
              "endpointBreakdown": {"type": "array"}
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {"type": "string"},
              "message": {"type": "string"},
              "details": {"type": "object"},
              "timestamp": {"type": "string", "format": "date-time"},
              "requestId": {"type": "string"}
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/ErrorResponse"}
          }
        },
        "headers": {
          "X-Error-Code": {"schema": {"type": "string"}}
        }
      },
      "ValidationError": {
        "description": "Request validation failed",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/ErrorResponse"}
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/ErrorResponse"}
          }
        },
        "headers": {
          "X-RateLimit-Limit": {"schema": {"type": "integer"}},
          "X-RateLimit-Remaining": {"schema": {"type": "integer"}},
          "X-RateLimit-Reset": {"schema": {"type": "string", "format": "date-time"}},
          "X-RateLimit-Tier": {"schema": {"type": "string"}}
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/ErrorResponse"}
          }
        }
      },
      "ServiceError": {
        "description": "Internal service error",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/ErrorResponse"}
          }
        }
      }
    }
  }
}
